@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Barlow Semi Condensed';
}

body {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: start;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px;
    max-width: 1200px;
}

#grid-part-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
}

#grid-part-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
}

.pfp {
    border-radius: 100px;
    position: absolute;
    width: 40px;
}

#quotation {
    width: 123px;
    position: absolute;
    right: 0;
    margin-right: 8rem;
    top: 0;
    z-index: 0;
}

.profile-intro {
    display: flex;
}

span {
    color: hsl(0, 0%, 81%);
}

.span-white {
    color: hsl(240, 3%, 61%);
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    gap: 0;
}

    .profile-details > p {
        padding: 0;
        margin: 0;
    }

.test-title {
    font-weight: 600;
    font-size: 25px;
    z-index: 10;
    position: relative;
}

.profile-card {
    overflow: hidden;
}

    #daniel {
        background-color: hsl(263, 55%, 52%);
        border-radius: 15px;
        color: hsl(0, 0%, 100%);
        padding: 25px;
        position: relative;
    }

    #daniel > p {
        color: hsl(223, 6%, 76%);
    }

    #jonathan {
        background-color: hsl(217, 19%, 35%);
        border-radius: 15px;
        color: hsl(0, 0%, 100%);
        padding: 25px;
    }

    #jonathan > p {
        color: hsl(223, 6%, 76%);
    }

    #patrick {
        background-color: hsl(219, 29%, 14%);
        border-radius: 15px;
        color: hsl(0, 0%, 100%);
        padding: 25px;
    }

    #patrick > p {
        color: hsl(223, 6%, 76%);
    }

    #jeanette {
        color: hsl(217, 19%, 35%);
        padding: 25px;
        box-shadow: 0px 10px 35px 5px hsl(0, 0%, 81%);
    }

    #jeanette > p {
        color: hsl(227, 6%, 51%);
    }

aside {
    display: flex;
    padding: 25px;
}

    #kira {
        width: 14rem;
        color: hsl(217, 19%, 35%);
        padding: 25px;
        box-shadow: 0px 10px 35px 5px hsl(0, 0%, 81%);
    }

    #kira > p {
        color: hsl(227, 6%, 51%);
    }

@media screen and (max-width: 1300px) {
    
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #quotation {
        margin-right: 1rem;
    }

    #grid-part-2 {
        display: flex;
        flex-direction: column;
    }

    #grid-part-1 {
        display: flex;
        flex-direction: column;
    }

    .profile-card {
        max-width: 20rem;
    }

}